<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD
 Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace实际上接口的名字 -->
<mapper namespace="org.test.dao.UserDao">
    <!-- 根据用户名和密码查询 -->
    <select id="findByUserNameAndPassword" parameterType="Map" resultType="User">
        select *
        from user
        where username = #{username} and password = #{password}
    </select>

    <select id="getEditors" resultType="User">
        select *
        from user
        WHERE role = 'editor'
    </select>

    <select id="findById" parameterType="Int" resultType="User">
        select *
        from user
        where id = #{id}
    </select>
    <update id="updateEditor" parameterType="User">
        update user
        set username = #{username}, password = #{password}
        where id = #{id}
    </update>

    <insert id="addEditor" parameterType="User">
        insert into user (username, password, sex, role) values (#{username}, #{password}, #{sex}, 'editor')
    </insert>
    <delete id="delete">
        <!--数据库user表的id =#{实体类中的id属性}-->
        delete from user where id=#{id}
    </delete>


</mapper>
